.container {
  padding: 60px 20px;
  text-align: center;
}

.title {
  color: #ff69b4;
  margin-bottom: 25px;
}

.grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.image {
  border-radius: 10px;
  width: 300px;
  height: 200px;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.image:hover {
  transform: scale(1.05);
}
