.homeContainer {
  background-color: #fffafc;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  color: #ff69b4;
  margin-bottom: 10px;
}

.subtitle {
  color: #666;
  max-width: 600px;
  margin: 0 auto;
}

.button {
  transition: all 0.3s ease;
  border-radius: 30px;
}

.button:hover {
  background-color: #ff69b4;
  color: white;
  transform: translateY(-3px);
}
